apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: pulse
data:
  datasources.yml: |
    apiVersion: 1

    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus:9090
        isDefault: true
        editable: true
        jsonData:
          timeInterval: 15s
          httpMethod: POST

  dashboards.yml: |
    apiVersion: 1

    providers:
      - name: 'Pulse Microservices'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        updateIntervalSeconds: 10
        allowUiUpdates: true
        options:
          path: /etc/grafana/provisioning/dashboards
          foldersFromFilesStructure: true




