apiVersion: v1
kind: ConfigMap
metadata:
  name: kong-config
  namespace: pulse
data:
  KONG_DATABASE: "off"
  KONG_DECLARATIVE_CONFIG: "/kong/kong.yml"
  KONG_PROXY_ACCESS_LOG: "/dev/stdout"
  KONG_ADMIN_ACCESS_LOG: "/dev/stdout"
  KONG_PROXY_ERROR_LOG: "/dev/stderr"
  KONG_ADMIN_ERROR_LOG: "/dev/stderr"
  KONG_ADMIN_LISTEN: "0.0.0.0:8001"




