apiVersion: v1
kind: Service
metadata:
  name: kong
  namespace: pulse
  labels:
    app: kong
spec:
  type: NodePort
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30080
      protocol: TCP
      name: proxy
    - port: 8001
      targetPort: 8001
      nodePort: 30081
      protocol: TCP
      name: admin
  selector:
    app: kong




