apiVersion: v1
kind: Service
metadata:
  name: event-service
  namespace: pulse
  labels:
    app: event-service
spec:
  type: ClusterIP
  ports:
    - port: 8083
      targetPort: 8083
      protocol: TCP
      name: http
  selector:
    app: event-service




