apiVersion: v1
kind: Service
metadata:
  name: messaging-service
  namespace: pulse
  labels:
    app: messaging-service
spec:
  type: ClusterIP
  ports:
    - port: 8084
      targetPort: 8084
      protocol: TCP
      name: http
  selector:
    app: messaging-service




